﻿@using TO_DO.domaine.Dto
@model UserTaskResponseDto;
@{

    if (!Context.Request.RouteValues.TryGetValue("id", out var id))
    {
        ViewData["Title"] = "Insertion";
    }
    else
    {
        ViewData["Title"] = "Mise a jour";
    }

    Context.Request.Query.TryGetValue("errorMessage", out var errorMessage);

}
@if (!string.IsNullOrEmpty(errorMessage))
{
    <h3 class="text-danger">@errorMessage</h3>
}
<form method="post" asp-controller="Home" asp-action="UpSert"  asp-route-id="@id">
    <div class="form-outline mb-4">
        <label asp-for="@Model.Title" class="form-label" for="textAreaExample"></label>
        <input asp-for="@Model.Title" class="form-control" id="textAreaExample" rows="4"></input>
    </div>
    <div class="form-outline mb-4">
        <label asp-for="@Model.Description" class="form-label" for="textAreaExample"></label>
        <textarea asp-for="@Model.Description" class="form-control" id="textAreaExample" rows="4"></textarea>
    </div>
    <div class="form-outline mb-4">
        <label asp-for="@Model.DueDate" class="form-label" for="textAreaExample"></label>
        <input asp-for="@Model.DueDate" class="form-control" id="textAreaExample" rows="4"></input>
    </div>
    <div class="mb-3 form-check">
        <label asp-for="@Model.IsCompleted" class="form-check-label" for="exampleCheck1">Terminer</label>
        <input asp-for="@Model.IsCompleted" class="form-check-input" id="exampleCheck1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Index">Retour</a>
</form>
