﻿@using TO_DO.domaine.Dto
@model List<UserTaskResponseDto>;
@{
    ViewData["Title"] = "Home Page";
}
<a type="button" class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Formulaire">Ajouter</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Date d'échéance</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var task in Model)
            {
                <tr>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    <td>@task.DueDate.ToString("dd-MM-yyyy HH:mm")</td>
                    @if (@task.IsCompleted)
                    {
                        <td>Terminer</td>
                    } else
                    {
                        <td>Pas Terminer</td>
                    }
                    <td>
                        <a type="button" asp-controller="Home" asp-action="Formulaire" asp-route-id=@task.Id class="btn btn-warning">Editer</a>
                        <a type="button" asp-controller="Home" asp-action="Delete" asp-route-id=@task.Id class ="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>